<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navBar">
        <div class="barCont"><a class="logo" href="#">PC GameStore</a></div>
        @Html.Action("LoginRegisterForm", "Game")
        @Html.Action("Summary", "Cart")
    </div>
    <div class="content">
        <div id="categories" class="categories">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="games">
            @RenderBody()
        </div>
    </div>
</body>
</html>